<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Dear, {{name}}!</p>
        <p>Proposal Name: {{proposalName}}</p>
        <p>Client Name: {{clientName}} </p>
        <p>Client Query: {{question}}</p>
        <p></p>
        <p>Thanks,</p>
        <p></p>
        <p></p>
        <p>{{clientName}}</p>
    </body>
</html>